---
import Layout from "../../layouts/LayoutBlogs.astro";
import { marked } from "marked";
import { databases } from "../../lib/appwrite";
import { Query } from "appwrite";

const { postSlug } = Astro.params;

if (!postSlug) {
  return Astro.redirect("/");
}

const promise = await databases.listDocuments(
  "66f1c1a400007216c982",
  "66f1c1ba00074254c99f",
  [Query.equal("slug", postSlug)]
);

const post = promise.documents[0];
---

<Layout title={post.title}>
  <div
    class="min-h-screen bg-gradient-to-br from-black via-neutral-900 to-neutral-800 text-white relative overflow-hidden"
  >
    <header
      class="sticky top-0 z-50 w-full border-b border-neutral-800 bg-black/20 backdrop-blur-md"
    >
      <div class="container mx-auto flex h-16 items-center px-4">
        <a
          href="/blog"
          class="text-[#EBA601] hover:text-[#D99500] transition-colors flex items-center"
        >
          <svg
            class="w-5 h-5 mr-2 text-yellow-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
            ></path></svg
          >
          Back to Blog
        </a>
      </div>
    </header>

    <main class="container mx-auto px-4 py-12">
      <article class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold mb-4 text-[#C549EB]">{post.title}</h1>
        <div class="flex items-center text-neutral-400 mb-6">
          <span>{post.date}</span>
          <span class="mx-2">•</span>
          <span>By Marcial Fantini</span>
        </div>
        <img src={post.srcImage} class="w-full h-auto" />

        <Fragment set:html={marked(post.content)} />
      </article>

      <div class="mt-12 max-w-3xl mx-auto">
        <h3 class="text-2xl font-bold mb-4">Share this post</h3>
        <div class="flex space-x-4">
          <button
            id="linkedin-share"
            class="p-2 bg-[#0077B5] rounded-full hover:bg-opacity-80 transition-colors"
            aria-label="Share on LinkedIn"
          >
            <svg
              class="h-6 w-6 text-white"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
              ></path>
            </svg>
          </button>
          <button
            id="twitter-share"
            class="p-2 bg-[#1DA1F2] rounded-full hover:bg-opacity-80 transition-colors"
            aria-label="Share on Twitter"
          >
            <svg
              class="h-6 w-6 text-white"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
              ></path>
            </svg>
          </button>
          <button
            id="facebook-share"
            class="p-2 bg-[#4267B2] rounded-full hover:bg-opacity-80 transition-colors"
            aria-label="Share on Facebook"
          >
            <svg
              class="h-6 w-6 text-white"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <div
        class="mt-16 max-w-3xl mx-auto bg-neutral-800/30 rounded-lg p-8 backdrop-blur-sm relative"
      >
        <h3 class="text-2xl font-bold mb-4">Subscribe to our newsletter</h3>
        <p class="mb-4 text-neutral-300">
          Stay updated with our latest insights and articles.
        </p>
        <form id="form-news-letter" class="flex gap-2">
          <input
            name="user_email"
            type="email"
            placeholder="Enter your email"
            class="flex-grow px-4 py-2 bg-neutral-700/50 text-white border border-neutral-600 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C549EB]"
          />
          <button
            type="submit"
            class="bg-[#C549EB] hover:bg-[#B038D9] text-white font-bold py-2 px-6 rounded-md transition duration-300"
          >
            Subscribe
          </button>
        </form>
      </div>
    </main>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      console.log("DOM fully loaded and parsed");

      const linkedinButton = document.getElementById("linkedin-share");
      const twitterButton = document.getElementById("twitter-share");
      const facebookButton = document.getElementById("facebook-share");

      console.log("LinkedIn button:", linkedinButton);
      console.log("Twitter button:", twitterButton);
      console.log("Facebook button:", facebookButton);

      function shareOnLinkedIn() {
        console.log("LinkedIn share function called");
        const url = encodeURIComponent(window.location.href);
        const title = encodeURIComponent(document.title);
        window.open(
          `https://www.linkedin.com/shareArticle?mini=true&url=${url}&title=${title}`,
          "_blank"
        );
      }

      function shareOnTwitter() {
        console.log("Twitter share function called");
        const url = encodeURIComponent(window.location.href);
        const title = encodeURIComponent(document.title);
        window.open(
          `https://twitter.com/intent/tweet?url=${url}&text=${title}`,
          "_blank"
        );
      }

      function shareOnFacebook() {
        console.log("Facebook share function called");
        const url = encodeURIComponent(window.location.href);
        window.open(
          `https://www.facebook.com/sharer/sharer.php?u=${url}`,
          "_blank"
        );
      }

      if (linkedinButton) {
        linkedinButton.addEventListener("click", shareOnLinkedIn);
        console.log("LinkedIn event listener added");
      } else {
        console.error("LinkedIn button not found");
      }

      if (twitterButton) {
        twitterButton.addEventListener("click", shareOnTwitter);
        console.log("Twitter event listener added");
      } else {
        console.error("Twitter button not found");
      }

      if (facebookButton) {
        facebookButton.addEventListener("click", shareOnFacebook);
        console.log("Facebook event listener added");
      } else {
        console.error("Facebook button not found");
      }
    });

    const form = document.getElementById(
      "form-news-letter"
    ) as HTMLFormElement | null;
    if (form) {
      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const data = {
          user_email: (
            form.elements.namedItem("user_email") as HTMLInputElement
          ).value,
          user_name: "newsletter",

          message: "newsletter",
        };

        try {
          const response = await fetch("/api/send-email", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data),
          });

          const result = await response.json();
          if (result.success) {
            alert("Message sent successfully!");
            form.reset(); // Limpia el formulario después del envío
          } else {
            alert("Error sending message. Please try again.");
          }
        } catch (error) {
          console.error("Error:", error);
          alert("There was an error sending the message. Please try again.");
        }
      });
    }
  </script>
</Layout>
